# Pasta Única com Arquivos e Recursos Externos ao App (Áudios, Relatórios, Builds e Backups)
extras/

# Ambientes Virtuais e IDEs
.venv/
env/
.vscode/
.idea/

# Caches de Execução e Compilação Python
__pycache__/
*.py[cod]
*.class
*.tmp
*.spec
*.spec.bak

# Modelos Locais de Treinamento
*.pkl

# Binários e Builds PyInstaller
*.exe
build/
dist/
scratch/
